.RetinoSkinHeader{
  background-color: bisque;
  border: 2px solid rgb(87, 87, 56);
  border-radius: 10px;
  box-shadow: 2px 3px 3px;
}
.RetinoSkinHeader:hover{
  cursor: pointer;
}
.RetinoSkinHeader img{
  height: 50px;
  width: 50px;
}

.headerName{
  color: red;
  font-size: 30px;
  position: absolute;
  margin: 10px 0 0 20px;
}