.GlobalNav{
  position: absolute;
  top:0;
  left:700px;
  width: auto;
}
.GlobalNav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #009d95;
  height: 80px;
  overflow: hidden;
}
.GlobalNav li{
    float: left;
}
.GlobalNav li a{
  /* height: 80px; */
  display: block;
  cursor: pointer;
  color: #1d272e;
  background-color: #009d95;
  text-align: center;
  text-decoration: none;
  padding: 30px 16px;
}

.GlobalNav li a:hover{
  background-color: #1d272e;
  color: white;
}
.GlobalNav li a:active{
  color: #1d272e;
  background-color: #009d95;
}


