
.ModalBody{
  color:red;
  width: 600px;
  height: auto;
  position: fixed;
  pointer-events: none;
  top:80px;
  left:400px;
  background-color: #1eb3aa;
  color: #1d272e;
  font-family: paprikaRegular; 
  border: 2px solid #1d272e;
  box-shadow: 2px 10px 10px #1d272e;
  padding-bottom: 20px;
}

/* .modalOutput{
  font-size: 10px;
} */
.ModalBody img{
  height: 250px;
  display: inline-block;
  width: 300px;
  margin:10px 0 10px 150px;
  border: 3px solid #1d272e;
}
.statusText{
  margin: 0 0 0 0 250px;

  text-align: center;
}