.SplashScreen{
  background-color: #1eb3aa;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
.splashText{
  display: block;
  text-align: center;
  font-family: arial;
  color: white;
  font-size: 70px;
  padding-top: 70px;
  padding-bottom: 30px;
}
.SplashScreen img{
  height: 400px;
  width: 400px;
}
.Images{
  display: flex;
  padding-bottom: 53px;
}
.Image{
  padding:0 50px 0 250px;
}