@font-face {
  font-family: paprikaRegular;
  src: url(./assets/fonts/paprika-regular.ttf);
}
body {
  margin: 0;
  padding: 0;
  font-family: paprikaRegular;
}
@media screen and (max-width: 1120px) {
  body{
  min-width: 900px;
  margin: 0 auto;
  }
}