.ImageInput {
  border: 1px solid red;
  height: 200px;
  width: auto;
  margin-bottom: 10px;
  padding: 5px;
}
.ImageInputSize{
  height: 200px;
  cursor: pointer;
  width: auto;
  margin-left: 130px;
}